body {
  background-color: #eaf6f6;
}
h1 {
  color: #113f67;
}
h3 {
  color: #113f67;
}
h6 {
  color: #38598b;
}
header {
  background: url("https://www.pexels.com/es-es/foto/cielo-nubes-azul-modelo-4502111/")
    no-repeat center;
  height: 150px;
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 0px;
}
p {
  font-size: 83%;
  color: #a2a8d3;
}
.card-header {
  color: #38598b;
}
.day-wheather {
  color: #38598b;
}
.main-card {
  top: 50px;
}
.main-temp {
  font-size: smaller;
  padding: 0%;
}
.min-max-temp {
  color: #38598b;
}
.next-days-button {
  margin-top: 20px;
}
.rain {
  color: #a2a8d3;
}
.time {
  color: #38598b;
  font-size: 145%;
}
.today-button {
  margin-top: 20px;
}
.weather-icon {
  font-size: 300%;
}
